html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 10px;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	background: url(/img/bg.jpg) center center no-repeat;
	background-size: cover;
}

.container {
	margin: 0 auto;
	max-width: 596px;
}
