<main>
  <Scoreboard />
</main>

<script>
  import Scoreboard from './Scoreboard.html';

  export default {
    components: {
      Scoreboard
    }
  }
</script>

<style>
  main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
</style>