<div class="container">
  <h2>Porcentagem de apostas:</h2>
  
  <div class="bar">
    <div class="meter team-a">
      <div class="badge">10%</div>
    </div>
    <div class="meter draw">
      <div class="badge">20%</div>
    </div>
    <div class="meter team-b">
      <div class="badge">30%</div>
    </div>
  </div>
</div>

<style>
  h2 {
    font-size: 1.7rem;
    font-weight: normal;
    margin-top: 3.8rem;
  }

  .bar {
    width: 100%;
    height: 13px;
    display: flex;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
  }

  .meter {
    min-width: 10px;
    height: 13px;
    position: relative;
  }

  .team-a {
    background: #79E549;
    border-radius: 10px 0 0 10px;
  }

  .team-b {
    background: #FF4343;
    border-radius: 0 10px 10px 0;
  }

  .draw {
    background: #F7F7F7;
  }

  .team-a .badge {
    background: #79E549;
  }

  .team-b .badge {
    background: #FF4343;
    color: #fff;
  }

  .draw .badge {
    background: #F7F7F7;
  }

  .badge {
    width: 45px;
    padding: 0.3rem 1rem;
    border-radius: 100px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    left: 0;
    text-align: center;
  }
</style>