<div class="Score">
  <img class="bg" src="/img/bg-score.svg" width="596" height="171" alt="Placar">

  <div class="flag-team flag-team-a"></div>
  <div class="flag-team flag-team-b"></div>

  <div class="score-numbers">
    <b>3</b>x<b>0</b>
  </div>
</div>

<style>
  .Score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg {
    margin-top: -90px;
  }

  .flag-team {
    width: 91px;
    height: 91px;
    position: absolute;
    top: -48px;
    background: red;
    border-radius: 50%;
  }

  .flag-team-a {
    left: 127px;
  }


  .flag-team-b {
    right: 127px;
  }

  .flag {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .score-numbers {
    width: 108px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #552E11, #BF7E26);
    border-radius: 4px;
    position: absolute;
    top: 25px;
    font-size: 2rem;
  }

  b {
    padding: 0 0.4rem;
  }
</style>