<div class="Scoreboard" style="transform: scale({$scoreSize})">
  <Score />
  <div class="teams-vs">
    <div class="team">Russia</div>
    vs
    <div class="team">Brasil</div>
  </div>

  <BetBar />

  <Stats />
</div>

<script>
  import Score from './Score.html';
  import BetBar from './BetBar.html';
  import Stats from './Stats.html';

  export default {
    components: {
      Score,
      BetBar,
      Stats
    }
  }
</script>

<style>
  .Scoreboard {
    width: 820px;
    height: 600px;
    border: 3px solid #EEC06A;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 90px;
  }

  .teams-vs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2.5rem;
  }

  .team {
    padding: 0 2rem;
    font-weight: bold;
  }
</style>