<div class="Stats">
  <div class="container">
    <div class="row">
      <div class="stat">Apostas para País: <b>55</b></div>
      <div class="stat">Apostas para País: <b>55</b></div>
    </div>
    <div class="row">
      <div class="stat">NBR Apostado País: <b>55</b></div>
      <div class="stat">NBR Apostado País: <b>55</b></div>
    </div>
    <div class="row">
      <div class="stat">Apostas para empate: <b>55</b></div>
      <div class="stat">NBR Apostado no empate: <b>55</b></div>
    </div>
    <div class="row">
      <div class="stat">Total Apostado: <b>55</b></div>
      <div class="stat">Pessoas Ganhando: <b>55</b></div>
    </div>
  </div>
</div>

<style>
  .Stats {
    margin-top: 6.8rem;
  }

  .row {
    display: flex;
    padding: 1.6rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .stat {
    flex: 1;
    font-size: 1.6rem;
  }

  .stat:last-child {
    text-align: right;
  }
</style>